{% from "common/_macros.html" import import_static %}
    <div class="row header">
        <div class="col-md-12">
            <nav class="n-banner" data-visual-break="false">

                <div class="n-banner-1st-filler-white"></div>
                <div class="n-banner-1st-filler-blue"></div>
                <div class="n-banner-2nd-filler-blue hidden-xs hidden-on-blue-detached"></div>
                <div class="n-banner-2nd-filler-gray hidden-xs"></div>

                <div class="container-fluid">

                    <div class="n-banner-header">
                        <a class="n-banner-brand" href="#">
                            {{ lib_title }}
                        </a>
                    </div>

                    <div class="collapse n-banner-collapse" id="n-banner-collapse">

                        <div class="row n-banner-1st">

                            <div class="n-banner-right n-search">
                                <a class="n-search-icon" href="javascript:void(0)">
                                    <span class="icon icon-search"></span>
                                </a>
                                <input id='TA_banner_search' type="text" class="n-inputfield n-search-input">
                            </div>

                            <div class="n-banner-right n-banner-1st-blue-to-gray hidden-xs">
                                <div class="blue-mask"></div>
                                <div class="gray-mask"></div>
                                <div class="blue-corner"></div>
                                <div class="gray-corner"></div>
                            </div>
                            <ul class="n-banner-right n-banner-nav n-banner-controls">
                                <li>
                                    <a id='TA_banner_username'>
                                        <i class="icon icon-profile"></i>
                                        Log In
                                    </a>
                                </li>
                            </ul>

                            <div class="n-banner-right n-banner-1st-gray-to-white hidden-xs">
                                <div class="gray-mask"></div>
                                <div class="white-mask"></div>
                                <div class="gray-corner"></div>
                                <div class="white-corner"></div>
                            </div>
                            <div class="n-banner-right n-banner-logo-img hidden-xs">
                                <img alt="Nokia" src="{{ import_static(type='img', filename_or_url='libs/wulf/ot3.1/img/logo.png') }}">
                            </div>

                        </div>

                        <div class="row n-banner-2nd">

                            <ul class="n-banner-nav n-banner-tabs">
<!--                                <li id='envLi' class="n-banner-3Link active">-->
<!--                                    <a id='env' href="javascript: onChangeTab('env')"><span>Stability Test</span></a>-->
<!--                                </li>-->
                                <li id='runnerLi' class="n-banner-3Link">
                                    <a id='runner' href="javascript: onChangeTab('runner')"><span>Stability Test</span></a>
                                </li>
<!--                                <li id='debugLi' class="n-banner-3Link">-->
<!--                                    <a id='debug' href="javascript: onChangeTab('debug')"><span>Debug</span></a>-->
<!--                                </li>-->
                            </ul>

                            <div class="n-banner-right n-banner-links-collapse dropdown">
                                <ul class="n-banner-nav n-banner-links">
                                    <li>
                                        <span class="ctool-version">{{ version_info }}</span>
                                    </li>
                                    <li id="updateLi">
                                        <!--a id="update" href="javascript:clickCheckVersion();">Update</a-->
                                        <a id="update" href="javascript:alert('Not ready yet, coming soon!');">Update</a>
                                    </li>
                                    <li id="userGuideLi">
                                        <a id="userGuide" href="{{ user_guide_link }}" target="_blank">User Guide</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="n-banner-2nd-gray-to-blue hidden-xs hidden-on-blue-detached">
                                <div class="gray-mask"></div>
                                <div class="blue-mask"></div>
                                <div class="gray-corner"></div>
                                <div class="blue-corner"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
