{% from "common/_macros.html" import import_static %}
	<!-- css -->
    <!-- wulf start -->
    {{ import_static(type='css', filename_or_url='libs/wulf/ot3.1/css/wulf.basic.min.css') }}
    {{ import_static(type='css', filename_or_url='libs/wulf/ot3.1/css/wulf.inputfield.min.css') }}
    {{ import_static(type='css', filename_or_url='libs/wulf/ot3.1/css/wulf.search.min.css') }}
    {{ import_static(type='css', filename_or_url='libs/wulf/ot3.1/css/wulf.dropdowns.min.css') }}
    {{ import_static(type='css', filename_or_url='libs/wulf/ot3.1/css/wulf.navigation.min.css') }}
    {{ import_static(type='css', filename_or_url='libs/wulf/ot3.1/css/wulf.footer.min.css') }}
    <!-- wulf end -->
    
    <!-- common start -->
    {{ import_static(type='css', filename_or_url='css/common.css') }}
    {{ import_static(type='css', filename_or_url='css/button/button.css') }}
    {{ import_static(type='css', filename_or_url='libs/jquery/ui/1.12.1/themes/base/jquery-ui.min.css') }}
    {{ import_static(type='css', filename_or_url='libs/chart.js/2.9.3/Chart.min.css') }}
    
    <!-- common end -->
    <!--link rel="stylesheet" type="text/css" href="lct/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="lct/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="cct/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="cct/css/common.css"/-->
    
    <!-- jquery -->
    {{ import_static(type='js', filename_or_url='libs/jquery/jquery-3.4.1.min.js') }}
    {{ import_static(type='js', filename_or_url='libs/jquery/jquery.form-4.2.2.min.js') }}
    {{ import_static(type='js', filename_or_url='libs/jquery/ui/1.12.1/jquery-ui.min.js') }}
    {{ import_static(type='js', filename_or_url='libs/jquery.cookie/1.4.1/jquery.cookie-1.4.1.min.js') }}
    {{ import_static(type='js', filename_or_url='libs/socket.io/socket.io-2.0.3.min.js') }}
    {{ import_static(type='js', filename_or_url='libs/chart.js/2.9.3/Chart.min.js') }}
    
    {{ import_static(type='js', filename_or_url='js/page/common.js') }}

	<!-- button -->
    {{ import_static(type='js', filename_or_url='js/button/jQButton.js') }}
    {{ import_static(type='js', filename_or_url='js/button/button.js') }}
    
	<!-- plugin -->
    {{ import_static(type='js', filename_or_url='js/plugin/json2.js') }}
    {{ import_static(type='js', filename_or_url='js/plugin/rf.web.socket.js') }}
    {{ import_static(type='js', filename_or_url='js/plugin/rf.stickscroll.js') }}
    {{ import_static(type='js', filename_or_url='js/plugin/rf.tab.js') }}
    {{ import_static(type='js', filename_or_url='js/plugin/rf.chart.js') }}
    {{ import_static(type='js', filename_or_url='js/plugin/dialog.update.js') }}
    
    <!--base href="lct/" /-->

