.ui-button .ui-icon.cfgFloatingBtn {
    background-image: url(icons/config.png);
}

.ui-button.ui-state-hover .ui-icon.cfgFloatingBtn {
    background-image: url(icons/config.png);
}

.ui-button .ui-icon.compareBtn {
    background-image: url(icons/compare.png);
}

.ui-button .ui-icon.ptcCompareBtn {
    background-image: url(icons/compare.png);
}

.ui-button .ui-icon.saveBtn {
    background-image: url(icons/save.png);
}

.ui-button .ui-icon.saveAsBtn {
    background-image: url(icons/saveas.png);
}

.ui-button .ui-icon.useAsBtn {
    background-image: url(icons/useas.png);
}

.ui-button .ui-icon.refreshBtn {
    background-image: url(icons/refresh.png);
}

.ui-button .ui-icon.undoBtn {
    background-image: url(icons/undo.png);
}

.ui-button .ui-icon.closeBtn {
    background-image: url(icons/close.png);
}

.ui-button .ui-icon.cancelBtn {
    background-image: url(icons/cancel.png);
}

.ui-button .ui-icon.editBtn {
    background-image: url(icons/editdiff.png);
}

.ui-button .ui-icon.copyBtn {
    background-image: url(icons/copy.png);
}

.ui-button .ui-icon.helpBtn {
    background-image: url(icons/help.png);
}

.ui-button .ui-icon.editGroupBtn {
    background-image: url(icons/editgroup.png);
}

.ui-button .ui-icon.addBtn {
    background-image: url(icons/add.png);
}

.ui-button .ui-icon.deleteBtn {
    background-image: url(icons/minus.png);
}

.ui-button .ui-icon.saveDBBtn {
    background-image: url(icons/saveDB.png);
}

.ui-button .ui-icon.downloadBtn {
    background-image: url(icons/download.png);
}

.ui-button .ui-icon.searchBtn {
    background-image: url(icons/search.png);
}

.ui-button .ui-icon.autorunBtn {
    background-image: url(icons/autorun.png);
}

.ui-button .ui-icon.stopBtn {
    background-image: url(icons/stop.png);
}

.ui-button .ui-icon.add2TmplBtn {
    background-image: url(icons/add2Tmpl.png);
}

.ui-button .ui-icon.updateTmplBtn {
    background-image: url(icons/updateTmpl.png);
}

.ui-button .ui-icon.deleteFromTmplBtn {
    background-image: url(icons/deleteFromTmpl.png);
}

.ui-button .ui-icon.importBtn {
    background-image: url(icons/import.png);
}

.ui-button .ui-icon.exportBtn {
    background-image: url(icons/export.png);
}

.ui-button .ui-icon.tmplEditorBtn {
    background-image: url(icons/template_editor.png);
}

.ui-button .ui-icon.toTopBtn {
    background-image: url(icons/toTop.png);
}

.ui-button .ui-icon.toBottomBtn {
    background-image: url(icons/toBottom.png);
}

.ui-button .ui-icon.pingBtn {
    background-image: url(icons/ping.png);
}

.ui-button .ui-icon.checkEnvBtn {
    background-image: url(icons/checkEnv.png);
}

.ui-button .ui-icon.activateBtn {
    background-image: url(icons/wireless.png);
}

.ui-button .ui-icon.captureBtn {
    background-image: url(icons/capture.png);
}

.ui-button .ui-icon.checkBtn {
    background-image: url(icons/check.png);
}






