#debugDiv {
	display: none;
    background-color: inherit;
}

#debugTabs fieldset > div {
    width: 100%;
}


#debugDiv textarea {
    resize: none;
    padding: 0px 9px;
    width: 100%;
    min-height: 600px;
}

#debugTabs {
    width: 90em;
    margin: 0 auto;
}

#checkBler > div > div {
    width: 100%;
    min-height: 350px; 
    border: 1px solid rgb(195, 195, 195);
    padding: 0px 9px;
}

#checkBler > div > div canvas {
    width: 100%;
}

